body {
	font-family: 'Quattrocento', serif;
}

.row-fliud {
	margin-top: 5px;
}

/* misc */
.nav-clear {
	clear: both;
	margin-top: 70px;
}

.btn-group-vertical .btn {
	width: auto;
}

.drive {
	-moz-box-shadow: -5px -5px 5px 5px #888;
	-webkit-box-shadow: -5px -5px 5px 5px #888;
	box-shadow: -5px -5px 5px 5px #888;
	border-radius: 5px;
	padding: 12px;
	margin: 20px 0;
}

/* tables */

.table {
	font-size: 14px;
}

.table thead {
	background-color: whiteSmoke;
}

.table th:first-child {
	vertical-align: middle;
	text-align: center;
}

.table td img.status {
	display: block;
	margin: 0 auto;
}

.table td:last-child {
	text-align: center;
}

/* pagination */

.pagination {
	height: 20px;
	margin: 0 0 15px 0;
}

.pagination a, .pagination span {
	line-height: 30px;
}

/* forms */
form label:after{
	content: ':';
}

form label.checkbox:after{
	content: '';
}

select, textarea, input[type="text"], input[type="password"], input[type="datetime"], input[type="datetime-local"], input[type="date"], input[type="month"], input[type="time"], input[type="week"], input[type="number"], input[type="email"], input[type="url"], input[type="search"], input[type="tel"], input[type="color"], .uneditable-input {		
	height: auto;
}

.help-block {
	color: #6A6969;
	font-size: 0.85em;
	margin-left: 5px;
	cursor: pointer;
	position: relative;
}