body {
	background-color: #E5E5E5;
	padding-top: 60px;
    padding-bottom: 40px;
    font-family: 'Quattrocento';    
}

.sidebar {
	padding-left: 10px;
}

.content {
	padding: 0 10px;
}

.widget .widget-header {

}

.widget .widget-header > h4 {
	margin: 0;
	border-top-right-radius: 5px;
	border-top-left-radius: 5px;	
	font-weight: bold;
	color: white;
	text-shadow: 0 -1px 0 rgba(0, 0, 0, 0.2);
	background-color: #08C;
	padding: 8px;
	margin-top: 1px;
	margin-right: 1px;
}

.widget .widget-header > h4 > i {
	margin-right: 5px;
}

.widget .widget-header .controls {
	margin-top: 0;
	margin-bottom: 0;
	padding: 10px 20px 20px 20px;
	background-color: whiteSmoke; 
} 

.widget {
	border-radius: 5px;
	box-shadow: 5px 5px 10px #978F6C;	
	margin-bottom: 20px;
}

.widget-content {
	padding: 0 20px;
	min-height: 20px;
	background: #fff;
	display: table;
}

form.widget-content 
{
	padding: 0;	
}

form.widget-content > legend
{
	padding: 15px 0 0;
	text-indent: 20px;
}

form.widget-content > fieldset 
{
	padding: 0 5px;
}

form.widget-content label.control-label
{
	font-weight: bold;	
}

form.widget-content label.control-label:after
{
	content: ":";
}

.widget .info {
	margin-top: 5px;
}

.widget .grid {
	margin-bottom: 0;
} 

.widget .footer {
	margin-top: 0;
	margin-bottom: 1px;
	border-radius: 5px;
}

.widget form {
	margin: 0;
}

.navigation .nav {
	width: 150px;
	background: #fff;
}

.pagination {
	margin: 0;
	padding: 0;
}

.pagination a, .pagination span {
	line-height: 28px;
}

.row.footer {
	margin: 0;
}
